body {
    width: 100%;
    align-items: center;
    line-height: 1.25;
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  body, p {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    margin: 3em auto;
    max-width: 960px;
  }
  
  .wrapper, .main-intro, .twitter, footer {
    padding: 0 1em;
  }
  
  .main-intro h2 {
    font-weight: 300;
    font-size: 1.5em;
    color: slategray;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .project {
    height: 160px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 300px;
    padding: 2em;
    margin: 1.2em;
    border-radius: .5em;
    transition: transform .5s;
  }
  
  .project svg {
    width: 4em;
    fill: white;
    margin-bottom: 2em;
  }
  
  .project p {
    font-size: 1em;
    font-weight: 500;
    backface-visibility: hidden;
  }
  
  .project a {
    text-decoration: none;
    color: white;
    display: block;
  }
  
  .twitter {
    margin: 2em 0;
  }
  
  .git {
    background: #181717;
  }
  
  
  .linkedin {
    background: #0077B5;
  }
  
  footer {
    margin-top: 2em;
    color: slategray;
  }
  
  .love {
    color: red;
    margin: 0 .25em;
  }
  
  @media (min-device-width: 768px) {
    .project {
      flex: 1 200px;
    }
  }
  
  @media (min-width: 960px) {
    .main-intro h2 {
      font-size: 2em;
    }
    .project {
      flex: 1 150px;
    }
    .project:hover {
      transform: scale(1.1);
    }
  }